/KSP_Laser_Distance_mod/KSP_Laser_Distance_mod/obj/Debug/*.cache
/KSP_Laser_Distance_mod/KSP_Laser_Distance_mod/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KSP_Laser_Distance_mod/KSP_Laser_Distance_mod/obj/Release/KSP_Laser_Distance_mod.csprojResolveAssemblyReference.cache
